.containerTwo {
  width: 1465px;
  height: 1038px;
  background: url(../../../public/LPP/LPP2BG.png) no-repeat;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15rem;
  box-sizing: border-box;
  & div {
    text-align: center;
    & h1 {
      font-weight: 500;
      font-size: 50px;
      width: 580px;
    }

    & p {
      width: 580px;
      font-weight: 300;
      font-size: 26px;
    }
  }
}
